// start body content section 1 //

.section {
    margin-top: 50px;
}

.inter-img {
    width:654;
    height:448;
}

ul {
    cursor: pointer;
}

.body-text {
    font-family: 'Josefin Sans', sans-serif;
    background-color: $white;
    width: 580px;
    height: 300px;
    position: absolute;
    right: 180px;
    top: 200px;
}

.body-text h1 {
    font-size: 2.6rem;
    font-weight: bold;
    line-height:3rem;
    padding: 90px 0px 0px 90px;
}

.body-text p {
    font-size: $font-size;
    font-weight: bold;
    padding: 20px 90px 0px 90px;
}

@media (max-width: 660px){
	.body-text {
        width: 435px;
        height: 330px;
        position: relative;
        right: 0px;
        top: 0px;
    }
    .body-text h1 {
        font-size: 1.9rem;
        line-height:2.5rem;
        padding-top: 30px;
        padding-right: 90px;
        text-align: center;
    }
    .body-text p {
        text-align: center;
        padding: 10px 80px 0px 80px;
    }
}

// End body content section 1 //

// start body content section 2 //

.section2-title {
    font-size:3rem;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    bottom:30px;
}

.btn-desktop {
    padding:6px 30px;
    background-color: $white;
    font-weight: bold;
    position: relative;
    bottom: 80px;
}
.btn-mobile {
    padding:8px 60px;
    background-color: $white;
    font-weight: bold;
    position: relative;
    display: none;
    margin: 0 auto;
}

.btn-desktop:hover {
    background-color:black;
    color: white;
}
.btn-mobile:hover {
    background-color:black;
    color: white;
}

ul li h1 {
    font-size:2rem;
    width:145px;
    line-height:2rem;
    position:relative;
    left:50px;
    bottom:100px;
    color: $white;
    font-family: 'Josefin Sans', sans-serif;
}

ul:hover {
    opacity: 0.3;
}
.img-mobile {
    display: none;
}

@media (max-width: 660px){
    .section2-title {
        font-size:2rem;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        margin-top:-100px;
    }
	.btn-desktop {
        display: none;
    }
    .img-mobile {display: block}
    .img-desktop {display: none}
    .btn-mobile {display: block}
    ul {margin-bottom: -50px;}
}