* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Alata', sans-serif;
    //font-family: 'Josefin Sans', sans-serif;
    background-color:$white;
    font-size: $font-size;
}

.under-line {
    width:30px;
    height: 1px;
    background-color:white;
    padding-top: 10px;
}


