.bg-img {
    background-image: url('/images/desktop/image-hero.jpg');
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}

.bg-img:hover {
    opacity: 0.9;
}

.header {
    width: 100%;
    margin-top: 40px;
    position: absolute; 
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    margin-left: 80px;
}

.nav-items {
    padding-right: 80px;
}

.nav-items a {
    color: $white;
    font-size: 1.2rem; 
}

.nav-items a:hover {
    color: $white;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 2px solid white;
    
}

.navbar-burger:hover {
    background-color: rgba(255, 255, 255, 0)
}

.header-title {
    color: $white;
    font-size:4rem;
    font-family: 'Josefin Sans', sans-serif;
    width: 500px;
    line-height: 4rem;
    margin-top:200px;
    margin-left: 80px;
    border: 2px solid white;
    padding:20px;

}

@media (max-width: 660px){
	.bg-img {
        background-image: url('/images/mobile/image-hero.jpg');
        height: 750px;
        background-position: top;
        background-repeat: no-repeat;
    }
    .navbar {
        margin-left: 20px;
    }
    .header-title {
        
        font-size:3.2rem;
        font-family: 'Josefin Sans', sans-serif;
        width: 420px;
        line-height: 4rem;
        margin-top:220px;
        margin-left: 30px;
        
    
    }
}
